{% extends 'layout.html' %}
{% block content %}
    <h1>
        {% if website.id %}
            Edit "{{ website.name }}"
        {% else %}
            Add a Website
        {% endif %}
    </h1>
    <form method="post">
        <label>
            Host:
            {{ form.host }}
        </label>
        {% if form.host.errors %}
            <div class="form-errors">
                List of errors of host field:
                {% for error in form.host.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <br><br>
        <label>
            Name:
            {{ form.name }}
        </label>
        {% if form.name.errors %}
            <div class="form-errors">
                List of errors of name field:
                {% for error in form.name.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <br><br>
        <input type="submit" value="Save">
        {% csrf_token %}
    </form>
{% endblock content %}