{% extends 'layout.html' %}
{% block content %}
    <h1>
        {% if not page.id %}
            Create a page
            {% if page.website %}
                for website "{{ page.website.name }}"
            {% endif %}
        {% else %}
            Edit page
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        <label for="url-field">URL:</label>
        <input type="url" name="url" id="url-field" value="{% if form.url.value %}{{ form.url.value }}{% endif %}">
        <br>
        <br>
        <label for="website-field">Website:</label>
        {% if not page.id and page.website %}
            <input type="hidden" name="website" value="{{ page.website.id }}">
            <select disabled>
                <option>{{ page.website.name }}</option>
            </select>
        {% else %}
            <select id="website-field" name="website">
                {% for value, option in form.fields.website.choices %}
                    <option value="{{ value }}"
                            {% if form.website.value and form.website.value == value %}selected="selected"{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <input type="submit" value="Save">
    </form>
{% endblock content %}