{% extends 'layout.html' %}
{% block content %}
    <div id="create-new-button"><a href="{% url 'add_website' %}">Create new website</a></div>
    <div id="websites-list">
        <h2>Websites list:</h2>
        <ul>
            {% for w in websites %}
                <li>"{{ w.name }}", host - {{ w.host }} <a href="{% url 'edit_website' wid=w.id %}">Edit</a> <a
                        href="{% url 'delete_website' wid=w.id %}">Delete</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}