{% extends 'layout.html' %}
{% block content %}
<div id="create-new-button"><a href="{% url 'add_website' %}">Create new website</a> <a href="{% url 'add_page' %}">Create
    a page</a></div>
<div id="websites-list" style="display: table-cell;padding-right:10px">
    <h2>Websites list:</h2>
    <ul>
        {% if websites %}
        {% for w in websites %}
        <li>
            "{{ w.name }}", host - {{ w.host }}
            <a href="{% url 'spider_session' wid=w.id %}">Spider session</a>
            <a href="{% url 'edit_website' wid=w.id %}">Edit</a>
            <a href="{% url 'delete_website' wid=w.id %}">Delete</a>
            <ul>
                <li><a href="{% url 'add_page_to_website' wid=w.id %}">Add a page</a></li>
                {% for p in w.pages|slice:":10" %}
                <li>
                    {{ p.url|slice:":35" }}{% if p.url|length > 35 %}...{% endif %}
                    <a href="{% url 'edit_page' pid=p.id %}">Edit page</a>
                    <a href="{% url 'delete_page' p.id %}">Delete page</a>
                </li>
                {% endfor %}
            </ul>
            {% if w.pages.count > 10 %}
            ... and more
            {% endif %}
        </li>
        {% endfor %}
        {% else %}
        <li>List is empty</li>
        {% endif %}
    </ul>
</div>

<div style="display:table-cell">
    <h4>Most recent loadings</h4>
    {% if last_loadings %}
    {% for l in last_loadings %}
    <div>{{ l.page.url|slice:":35" }}{% if l.page.url|length > 35 %}...{% endif %}, loaded at {{ l.time }}</div>
    {% endfor %}
    {% else %}
        <i>None found</i>
    {% endif %}
</div>
{% endblock content %}