{% extends 'layout.html' %}
{% block content %}
    <table id="spider-session">
        <tr>
            <td valign="top">
                <h2>Spider session for "{{ website.name }}"</h2>
                <h4>Pages count: <span id="website-pages-count">{{ website.pages_count }}</span></h4>
            </td>

            <td id="spider-info" valign="top" {% if spider_id %}spider-id="{{ spider_id }}{% endif %}">
                {% if not spider_id %}
                    <h2>Set options for spider</h2>
                    <div id="spider-options">
                        <div id="max_processes">
                            <label>
                                Max amount of processes:
                                <input type="number">
                            </label>
                        </div>
                    </div>
                    <button type="button" id="start-button" website-id="{{ website.id }}">Start</button>
                {% else %}
                    <h2>Spider session #{{ spider_id }}</h2>
                {% endif %}
            </td>
        </tr>
    </table>
    {% load staticfiles %}
    <script src="{% static 'spider_session.js' %}"></script>
{% endblock content %}