<div id="spider-status">
    <h2 id="spider-stance">
        <span id="running" {% if not spider.is_alive %}style="display: none"{% endif %}>Spider is running</span>
        <span id="stopped" {% if spider.is_alive %}style="display: none"{% endif %}>Spider is stoped</span>
    </h2>
    <br>
    <input type="checkbox" id="stop-when-done"> Stop as soon as possible
    <span>Running processes: <span id="running-count">0</span></span>

    <div>
        <ul id="loadings"></ul>
    </div>
</div>
{% load staticfiles %}
<script src="{% static 'spider-status.js' %}"></script>
<script>
    {% if website %}
        var websiteId = {{ website.id }};
    {% endif %}

    var $stopWhenDone = $("#spider-status #stop-when-done");
    var spiderStatus = new SpiderStatus("{% url 'spider_status' spider_id %}",
            new SpiderStatusRenderer(), websiteId, $stopWhenDone.is(":checked"));
    $stopWhenDone.on("change", function () {
        spiderStatus.stopWhenDone = $stopWhenDone.is(":checked");
    });
    spiderStatus.update();
    var updateInterval = setInterval(function (spiderStatus) {
        return function () {
            spiderStatus.update();
        };
    }(spiderStatus), 1000);
</script>