<div id="spider-status">
    <h2 id="spider-stance">
        <span id="running" {% if not spider.is_alive %}style="display: none"{% endif %}>Spider is running</span>
        <span id="stopped" {% if spider.is_alive %}style="display: none"{% endif %}>Spider is stoped</span>
    </h2>

    <div>
        <ul id="loadings"></ul>
    </div>
</div>
<script>
    function Loading(url, started, finished) {
        this.url = url;
        this.started = started;
        this.finished = finished;
    }


    function SpiderStatus(url, renderer) {
        this.receiveStatusUrl = url;
        this.loadings = [];
        this.isRunnig = false;
        this.renderer = renderer;
        this.isUpdating = false;
    }

    SpiderStatus.prototype.findLoadingByUrl = function (url) {
        for (var i = 0; i < this.loadings.length; i++) {
            if (this.loadings[i].url == url) {
                return this.loadings[i];
            }
        }
    };

    SpiderStatus.prototype.update = function () {
        if (this.isUpdating) return;
        this.isUpdating = true;
        var self = this;
        $.get(this.receiveStatusUrl, {}, function (data) {
            this.isRunnig = data.is_alive;
            for (var i = 0; i < data.waiting.length; i++) {
                var loadingData = data.waiting[i];
                var loading;
                if (loading = self.findLoadingByUrl(loadingData.url)) {
                    loading.started = false;
                    loading.finished = false;
                }
                else {
                    self.loadings.push(new Loading(loadingData.url, false, false));
                }
            }
            for (var i = 0; i < data.running.length; i++) {
                var loadingData = data.running[i];
                var loading;
                if (loading = self.findLoadingByUrl(loadingData.url)) {
                    loading.started = true;
                    loading.finished = false;
                }
                else {
                    self.loadings.push(new Loading(loadingData.url, true, false));
                }
            }
            for (var i = 0; i < data['finished'].length; i++) {
                var loadingData = data['finished'][i];
                var loading;
                if (loading = self.findLoadingByUrl(loadingData.url)) {
                    loading.started = true;
                    loading.finished = true;
                }
                else {
                    self.loadings.push(new Loading(loadingData.url, true, true));
                }
            }
            self.renderer.render(self.loadings, self.isRunnig);
            setTimeout(function () {
                self.isUpdating = false;
            }, 250);
        });
    };


    function SpiderStatusRenderer() {
        this.maxLoadingNameLength = 40;
    }
    SpiderStatusRenderer.prototype.render = function (loadings, isAlive) {
        if (isAlive) {
            $("#spider-status #spider-stance #running").show();
            $("#spider-status #spider-stance #stopped").hide();
        }
        else {
            $("#spider-status #spider-stance #running").hide();
            $("#spider-status #spider-stance #stopped").show();
        }
        var fetchStatus = function (started, finished) {
            var statusText;
            if (started && !finished) {
                statusText = "Running";
            }
            if (!started) {
                statusText = "Waiting";
            }
            if (started && finished) {
                statusText = "Finished";
            }
            return statusText;
        };
        var $loadings = $("#spider-status #loadings");
        for (var i = 0; i < loadings.length; i++) {
            var loading = loadings[i];
            var $item = $loadings.find("li[page-url='" + loading.url + "']");
            if ($item) {
                if ($item.attr("started") != loading.started || $item.attr("finished") != loading.finished) {
                    $item.attr("started", loading.started);
                    $item.attr("finished", loading.finished);
                    $item.find("#text-status").text(fetchStatus(loading.started, loading.finished));
                }
            }
            else {
                var loadingName = "";
                if (loading.url.length > this.maxLoadingNameLength) {
                    loadingName = loading.url.substr(0, this.maxLoadingNameLength) + "...";
                }
                else {
                    loadingName = loading.url;
                }
                $loadings.append('<li started="' + loading.started + '" finished="' + loading.finished
                        + '" page-url="' + loading.url + '">' + loadingName
                        + ' <span id="text-status">' + fetchStatus(loading.started, loading.finished) + '</span></li>');
            }
        }
    };

    var spiderStatus = new SpiderStatus("{% url 'spider_status' %}", new SpiderStatusRenderer());
    spiderStatus.update();
    var updateInterval = setInterval(function (spiderStatus) {
        spiderStatus.update();
    }(spiderStatus), 1000);
</script>