<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Alexander Gorkun's spider{% endblock title %}</title>
    {% load staticfiles %}
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
<div id="header">
    {% block header_title %}
    <div id="header-title">
        <h2>"Spider" by Alexander Gorkun <a href="https://github.com/AlexMaxHorkun/xanderh-spider">GitHub</a></h2>
        <h3>Application allows to load web pages, save it's content and find links to other pages in it.</h3>
        <h3>
            Start with adding a website entity, specify host (example.com), create at least one page (http://example.com)
            and start a "Spider session"
        </h3>
    </div>
    {% endblock header_title %}
    {% block header %}Welcome
        {% if user.is_authenticated %}, {{ user.get_username }} <a href="{% url 'logout' %}">Logout</a>{% else %}
            guest
        {% endif %}
        !
    {% endblock header %}
</div>
<div id="menu">
    Menu:
    {% if not user.is_authenticated %}<a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'login' %}">Login</a>{% endif %}
    <a href="{% url 'index' %}">Websites</a>
</div>
<div id="content">
    {% block content %}{% endblock content %}
</div>
</body>
</html>