import tempfile as __tempfile
DB_ENGINE = 'django.db.backends.postgresql_psycopg2'
DB_NAME = 'mydatabase'
DB_USER = 'mydatabaseuser'
PASSWORD = 'mypassword'
DB_HOST = '127.0.0.1'
DB_PORT = '5432'
SESSION_FILEPATH = __tempfile.gettempdir()
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
        'OPTIONS': {
            'KEY_PREFIX': 'xanderhspider_',
        }
    }
}
DEBUG = True
TEMPLATE_DEBUG = True
INSTALLED_APPS = ('django_toolbar',)